swagger: "2.0"
info:
  title: "${title}"
  version: "1.0.0"
schemes:
  - https
produces:
  - application/json
securityDefinitions:
  id_token:
    authorizationUrl: ""
    flow: implicit
    type: oauth2
    x-google-issuer: "${allowed_jwt_issuer}"
    x-google-jwks_uri: "${allowed_jwt_jwks_uri}"
    x-google-audiences: "${join(",", allowed_jwt_audiences)}"
security:
  - id_token: []
paths:
  /:
    get:
      operationId: health
      summary: Health check
      x-google-backend:
        address: "${backend_url}"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: OK
  /{proxy+}:
    x-google-any-method:
      operationId: proxy
      parameters:
        - name: proxy
          in: path
          required: true
          type: string
      x-google-backend:
        address: "${backend_url}"
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: OK
